/* * {
  transition: background-color 0.1s ease, color 0.1s ease; 
} */

html,
body {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  display: flex;
}

:root {
  /*? ======Success====== */
  --success-dark: rgb(64, 146, 95); /* *(-16, -34, -24) */
  --success: rgb(80, 170, 119); /* *base  */
  --success-light: rbg(167, 213, 187); /* *(+87, +84, +68) */

  --button-text-color: rgb(252, 252, 252);

  /*? ======Error======  */
  --error-dark: rgb(176, 65, 65); /* *(-59, -22, -22) */
  --error: rgb(235, 87, 87); /* *base */
  --error-light: rgb(245, 171, 171); /* *(+10, +84, +84) */

  /*? ======Error======  */
  --friend: rgb(81, 168, 255);
}

.dark {
  /*? ======Primary====== */
  --accent-dark: rgb(229, 151, 29); /* *(-15, -18, -22) */
  --accent: rgb(244, 169, 51); /* *base */
  --accent-light: rgb(253, 194, 102); /* *(+9, +25, +51) */

  /*? ======Secondary====== */
  --main-secondary: rgb(252, 252, 252); /* *base */
  --main-secondary-dark1: rgb(227, 227, 227); /* *(-25, -25, -25) */
  --main-secondary-dark2: rgb(196, 196, 196); /* *(-56, -56, -56) */
  --main-secondary-dark3: rgb(170, 169, 169); /* *(-82, -83, -83) */
  --main-secondary-dark4: rgb(166, 166, 168); /* *(-86, -86, -84) */
  --main-secondary-dark5: rgb(153, 153, 153); /* *(-99, -99, -99) */
  --main-secondary-dark6: rgb(87, 87, 87); /* *(-165, -165, -165) */
  --main-secondary-dark7: rgb(50, 50, 50); /* *(-202, -202, -202) */

  /*? ======Main BG====== */
  --main-bg-darkest: rgb(20, 20, 20); /* *(-17,-18,-23) */
  --main-bg-darker: rgb(27, 28, 29); /* *(-10,-10,-14) */
  --main-bg-dark: rgb(37, 37, 41); /* *(0, -1, -2) */
  --main-bg: rgb(37, 38, 43); /* *base */
  --main-bg-light: rgb(45, 46, 52); /* *(+8, +8, +9) */
  --main-bg-lighter: rgb(51, 52, 60); /* *(+14, +14, +17) */
  --main-bg-lightest: rgb(67, 70, 79); /* *(+30, +32, +36) */
}

.light {
  --accent-dark: rgb(58, 125, 131);
  --accent: rgb(73, 143, 153);
  --accent-light: rgb(82, 168, 204);

  --main-bg-darkest: rgb(192, 185, 178);
  --main-bg-darker: rgb(199, 192, 181);
  --main-bg-dark: rgb(209, 201, 193);
  --main-bg: rgb(209, 202, 195);
  --main-bg-light: rgb(217, 210, 203);
  --main-bg-lighter: rgb(223, 216, 212);
  --main-bg-lightest: rgb(239, 234, 231);

  --main-secondary: rgb(143, 132, 138);
  --main-secondary-dark1: rgb(118, 107, 113);
  --main-secondary-dark2: rgb(86, 76, 82);
  --main-secondary-dark2: rgb(61, 49, 55);
  --main-secondary-dark3: rgb(57, 46, 52);
  --main-secondary-dark4: rgb(44, 33, 39);
  --main-secondary-dark5: rgb(0, 0, 0);
  --main-secondary-dark6: rgb(0, 0, 0);
}

.custom {
  --accent-dark: rgb(215, 91, 63);
  --accent: rgb(230, 109, 85);
  --accent-light: rgb(239, 134, 136);

  --main-bg-darkest: rgb(20, 11, 3);
  --main-bg-darker: rgb(27, 18, 6);
  --main-bg-dark: rgb(37, 27, 18);
  --main-bg: rgb(37, 28, 20);
  --main-bg-light: rgb(45, 36, 28);
  --main-bg-lighter: rgb(51, 42, 37);
  --main-bg-lightest: rgb(67, 60, 56);

  --main-secondary: rgb(256, 175, 106);
  --main-secondary-dark1: rgb(231, 150, 81);
  --main-secondary-dark2: rgb(200, 119, 50);
  --main-secondary-dark3: rgb(174, 92, 23);
  --main-secondary-dark4: rgb(170, 89, 20);
  --main-secondary-dark5: rgb(157, 76, 7);
  --main-secondary-dark6: rgb(91, 10, 0);
  --main-secondary-dark7: rgb(54, 0, 0);
}

/* ?================SIDE PANEL============== */
#sidePanel {
  width: 17%;
  height: 100%;
  overflow: auto;
  min-width: 275px;
  background: rgb(247, 247, 247);
  z-index: 1;
  float: right;
  box-shadow: 2px 4px 5px black;
}

/* ?=============== COLORS TEMPLATES =============== */
#colorTemplates,
#colors,
#previewSection {
  padding: 10px;
}
#defaultTheme {
  display: flex;
  height: 50px;
  align-items: center;
  justify-content: space-between;
  border: 1px solid darkgrey;
  border-radius: 7px;
  margin: 8px 0;
}
#defaultTheme:hover {
  border: 2px solid rgb(36, 65, 128);
  cursor: pointer;
}
#defaultTheme.active {
  border: 2px solid black;
}
#defaultTheme h4 {
  padding-left: 10px;
  margin: 0;
}
#defaultTheme #circles {
  display: flex;
  padding-right: 10px;
}
#defaultTheme #circles > div {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  margin-right: 2px;
  border: 1px solid black;
}
#defaultTheme #circles > .one {
  background: var(--accent-light);
}
#defaultTheme #circles > .two {
  background: var(--accent-dark);
}
#defaultTheme #circles > .three {
  background: var(--main-bg-darkest);
}
#defaultTheme #circles > .four {
  background: var(--main-bg-lightest);
}
#defaultTheme #circles > .five {
  background: var(--main-secondary-dark5);
}

/* ?============ COLORS =========== */
#pickerContainer {
  display: flex;
  height: 30px;
  justify-content: space-between;
  align-items: center;
  padding: 0 5px;
  margin: 7px 0;
}
#pickerContainer > h4 {
  margin: 6px;
}
.pickr .pcr-button:after {
  border: 2px solid black;
}
#accent #pickerContainer .pickr .pcr-button:after {
  background: var(--accent);
}
#secondary #pickerContainer .pickr .pcr-button:after {
  background: var(--main-secondary);
}
#background #pickerContainer .pickr .pcr-button:after {
  background: var(--main-bg);
}

/* ?============= MAIN WINDOW ================= */
#mainWindow {
  width: 83%;
  height: 100%;
  overflow: hidden;
  background: var(--main-bg-light);
}

/* ?============= MAIN NAVBAR ================= */
.mainNavbar {
  width: 100%;
  height: 2.25vw;
  background: var(--main-bg-light);
  display: flex;
  justify-content: space-between;
}
.mainNavbar .mainServer img,
.mainNavbar .mainIcons img {
  height: 2vw;
  padding: 1px;
}
.mainNavbar .mainServer .content {
  margin: 0 8px;
  font-size: 15px;
  font-weight: 700;
  color: var(--main-secondary);
}
.mainNavbar .mainIcons,
.mainNavbar .mainServer {
  padding: 0 15px;
  display: flex;
  align-items: center;
}
.mainNavbar .mainIcons svg {
  margin: 0 0.7vw;
  width: 1vw;
  height: 1vw;
}
.mainNavbar .mainIcons path {
  fill: var(--main-secondary-dark3);
}
.mainNavbar .mainIcons .active path {
  fill: var(--accent);
}
.mainNavbar .mainIcons > div:hover path {
  fill: var(--accent);
  cursor: pointer;
}

/* ?============= SERVER NAVBAR ================= */
.serverNavbar {
  height: 1.75vw;
  width: 100%;
  display: flex;
  align-items: center;
  background: var(--main-bg);
  box-shadow: 1px 1px 3px 2px var(--main-bg-darker);
}
.serverNavbar .servers {
  height: 100%;
  width: 10vw;
  display: flex;
  border-right: 1px solid var(--main-bg-lightest);
  justify-content: center;
  align-items: center;
}
.serverNavbar .servers.explore {
  width: 2vw;
}
.serverNavbar .servers.explore path {
  fill: var(--main-secondary-dark3);
}
.serverNavbar .servers.active {
  background: var(--main-bg-light);
}
.serverNavbar .servers.active .icon {
  position: relative;
  left: 22%;
  color: var(--main-secondary-dark3);
}
.serverNavbar .servers h4 {
  font-size: 0.75vw;
  font-weight: 700;
  color: var(--main-secondary-dark3);
}
.serverNavbar .mini {
  padding: 0.5vw;
}
.serverNavbar .mini .plus {
  color: var(--main-secondary-dark3);
}
.serverNavbar .exploreServers:hover,
.serverNavbar .servers:hover,
.serverNavbar .mini:hover {
  cursor: pointer;
  background-color: var(--main-bg-lightest);
}

/* ?============= CHAT WINDOW ================= */
.avatar.myFriend {
  border: 0.25vw solid #51a8ff;
}
.myFriend {
  color: #51a8ff !important;
}
.mySelf {
  color: rgba(176, 141, 87, 1) !important;
}
.chatWindow {
  display: flex;
  border-top: 1px solid var(--main-bg-darker);
  height: 100%;
}
.chatWindow .chat {
  background: var(--main-bg-light);
  /* flex-grow: 6; */
  position: relative;
}
.chatWindow .chat .displayMessages {
  height: calc(100% - 12vw);
  overflow: auto;
  padding-top: 0.5vw;
}
.chatWindow .chat .inputMessageField {
  position: absolute;
  height: 8vw;
  bottom: 0;
  width: 100%;
  background: var(--main-bg-light);
}
.emoji-wysiwyg-editor:focus {
  outline: 0;
}
[contentEditable="true"]:empty:not(:focus):before {
  content: attr(data-text);
  color: var(--main-secondary-dark5);
}
.emoji-wysiwyg-editor {
  background-color: var(--main-bg);
  color: var(--main-secondary);
  margin-bottom: 0;
  padding: 0.5vw;
  font-size: 0.75vw;
  border: none !important;
  /* margin-top: 1vw; */
}
.chatWindow .chat .ui.icon.inverted.button {
  padding: 0.25vw;
}
.chatWindow .chat .ui.right.floated.inverted.segment {
  margin: 0;
  padding: 0.25vw;
  background: inherit;
}
.chatWindow .chat .ui.right.floated.inverted.segment .icon {
  color: var(--main-secondary-dark3);
  margin: 0;
  font-size: 0.75vw;
}
.chatWindow .chat .ui.right.floated.inverted.segment .icon:hover {
  color: var(--accent);
  background: none;
}
.ui.inverted.button {
  box-shadow: none !important;
  -webkit-box-shadow: none !important;
}
.ui.inverted.button:hover {
  box-shadow: none !important;
  -webkit-box-shadow: none !important;
}
/*! ==========divider==========  */
.ui.divider {
  display: relative;
  margin: 0 0.5vw;
  /* border-top: 1px solid var(--divider-light) !important; */
  border-bottom: 1px solid var(--main-secondary-dark6) !important;
}
.ui.divider span {
  position: sticky;
  left: 24vw;
  top: 4.1vw;
  color: var(--main-secondary-dark6);
  font-size: 0.5vw;
  border: 0.05vw solid var(--main-secondary-dark6);
  padding: 0.1vw;
  border-radius: 0.25vw;
  z-index: 1;
  background: var(--main-bg-light);
}
.chat .messagesFrom {
  background: var(--main-bg-lighter);
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.chat .messagesFrom .avatarName {
  display: flex;
  height: 4vw;
  align-items: center;
}
.chat .messagesFrom .avatarName .avatar {
  width: 3vw;
  border-radius: 50%;
  margin-left: 0.5vw;
}
.chat .messagesFrom .avatarName .online {
  width: 0.75vw;
  height: 0.75vw;
  background: #77d570;
  position: absolute;
  top: 2.75vw;
  left: 2.75vw;
  border-radius: 50%;
  border: 0.15vw solid var(--main-bg-dark);
}
.chat .messagesFrom .avatarName .name {
  margin-left: 1vw;
}
.chat .messagesFrom .avatarName h4 {
  font-size: 1vw;
  color: var(--main-secondary-dark1);
  margin: 0;
}
.chat .messagesFrom .avatarName p {
  color: var(--main-secondary-dark4);
  font-size: 0.75vw;
}
.chat .messagesFrom i {
  color: var(--main-secondary);
  margin-right: 1.5vw;
}
.chat .displayMessages .directMsg .directMsgAvtNname,
.chat .displayMessages .directMsg .message {
  display: flex;
  padding: 0.1vw;
  align-items: center;
  position: relative;
}
.chat .displayMessages .directMsg .message .icons {
  display: none;
  position: absolute;
  bottom: 9.75vw;
  right: 1vw;
  background: var(--main-bg-lighter);
  border-radius: 0.5vw 0.5vw 0 0;
}
.chat .displayMessages .directMsg .message .icons div {
  padding: 0.3vw;
}
.chat .displayMessages .directMsg .message .icons div:hover {
  background: var(--main-bg-lightest);
}
.chat .displayMessages .directMsg .message .icons i {
  font-size: 0.8vw;
  color: var(--main-secondary-dark5);
}
.chat .displayMessages .directMsg:hover .icons {
  display: flex;
}
.chat .displayMessages .directMsg:hover {
  background: var(--main-bg-lighter);
}
.chat .displayMessages .directMsg {
  position: relative;
  padding: 1vw;
}
.chat .displayMessages .directMsg .directMsgAvtNname .avatar {
  width: 2.5vw;
  margin-right: 0.5vw;
  border-radius: 50%;
}
.chat .displayMessages .directMsg .directMsgAvtNname .online {
  width: 0.7vw;
  height: 0.7vw;
  background: #77d570;
  position: absolute;
  top: 1.9vw;
  left: 1.9vw;
  border-radius: 50%;
  border: 0.125vw solid var(--main-bg-dark);
}
.chat .displayMessages .directMsg .directMsgAvtNname h4 {
  font-size: 0.9vw;
  color: var(--main-secondary);
}
.chat .displayMessages .directMsg .message h4 {
  margin-top: 0.5vw;
  font-size: 0.75vw;
  color: var(--main-secondary);
}
.chat .displayMessages .directMsg .message p {
  font-size: 0.75vw;
  color: var(--main-secondary-dark5);
  /* margin: 0.5vw; */
  min-width: 3vw;
  margin-left: 1vw;
}

/* ?============= CHAT WINDOW MESSAGE HISTORY LIST ================= */
.chatWindow .chatHistory {
  min-width: 17vw;
  background: var(--main-bg);
  /* flex-grow: .75; */
}
.chatWindow .chatHistory .ui.icon i {
  font-size: 0.75vw;
  color: var(--main-secondary);
}
.chatWindow .chatHistory .ui.icon input {
  background: var(--main-bg-light);
  border: none !important;
  box-shadow: none !important;
  padding: 0.85;
  cursor: text;
  color: var(--main-secondary);
  outline: 0;
  border-radius: 0;
  font-size: 0.75vw;
  width: 5vw;
}
.chatWindow .chatHistory .ui.icon input::placeholder {
  font-size: 0.75vw;
  color: var(--main-secondary-dark5);
}
.chatWindow .chatHistory .searchMessage {
  display: flex;
  align-items: center;
  background: var(--main-bg-light);
}
.chatWindow .chatHistory .searchMessage .input {
  flex-grow: 1;
}
.chatWindow .chatHistory .messages .newMessage {
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--accent-dark);
  border-radius: 0.25vw;
  height: 1.5vw;
  padding: 0.2vw 0.5vw;
  margin: 0 0.1vw;
  width: 7vw;
}
.chatWindow .chatHistory .newMessage h4 {
  margin: 0;
  font-size: 0.6vw;
  color: var(--main-bg-darkest);
}
.chatWindow .chatHistory .newMessage .comments {
  /* margin: 0 1vw 1vw 0; */
  font-size: 0.75vw;
  height: 1.1vw;
  color: var(--main-bg-darkest);
}
.chatWindow .chatHistory .messageHistory {
  height: calc(100% - 8vw);
  overflow: auto;
}
.chatWindow .chatHistory .messageHistory #messageContainer {
  display: flex;
  align-items: center;
  height: 3vw;
}
.chatWindow .chatHistory .messageHistory #messageContainer:hover {
  background-color: var(--main-bg-light);
}
.chatWindow .chatHistory .messageHistory #messageContainer.active {
  background-color: var(--main-bg-light);
}
.chatWindow .chatHistory .messageHistory #messageContainer {
  display: flex;
}
.chatWindow .chatHistory .messageHistory #messageContainer .nameAndMessage {
  margin-left: 0.75vw;
  flex: 2;
}
.chatWindow .chatHistory .messageHistory #messageContainer .avatarContainer {
  position: relative;
}
.chatWindow
  .chatHistory
  .messageHistory
  #messageContainer
  .avatarContainer
  .avatar {
  width: 2.25vw;
  border-radius: 50%;
  margin-left: 0.5vw;
}
.chatHistory .messageHistory #messageContainer .online {
  position: absolute;
  top: 1.75vw;
  left: 2.15vw;
  border-radius: 50%;
  width: 0.6vw;
  height: 0.6vw;
  background: #77d570;
  border: 0.125vw solid var(--main-bg-dark);
}
.chatWindow
  .chatHistory
  .messageHistory
  #messageContainer
  .nameAndMessage
  .message {
  display: flex;
}
.chatWindow .chatHistory .messageHistory #messageContainer .timeAndNoty {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-items: flex-end;
  margin-right: 0.5vw;
}
.chatWindow .chatHistory .messageHistory #messageContainer h4 {
  margin: 0;
  color: var(--main-secondary);
  font-size: 0.75vw;
}
.chatWindow .chatHistory .messageHistory #messageContainer .nameAndMessage p {
  margin: 0.2vw 0 0 0;
  color: var(--main-secondary-dark5);
  font-size: 0.7vw;
}

.chatWindow
  .chatHistory
  .messageHistory
  #messageContainer
  .nameAndMessage
  .doubleCheck {
  position: relative;
  /* margin-right: 0.25vw; */
  width: 1.4vw;
}
.chatWindow
  .chatHistory
  .messageHistory
  #messageContainer
  .nameAndMessage
  .doubleCheck
  .first {
  position: absolute;
  left: 0.08vw;
  top: 0.2vw;
}
.chatWindow
  .chatHistory
  .messageHistory
  #messageContainer
  .nameAndMessage
  .doubleCheck
  .second {
  position: absolute;
  left: 0.3vw;
  top: 0.35vw;
}
.chatWindow
  .chatHistory
  .messageHistory
  #messageContainer
  .nameAndMessage
  .doubleCheck
  .icon {
  font-size: 0.65vw;
  color: var(--accent);
}
.chatWindow
  .chatHistory
  .messageHistory
  #messageContainer
  .nameAndMessage
  .message
  > i {
  margin: 0.2vw 0.2vw 0 0;
  color: var(--main-secondary-dark5);
  font-size: 0.65vw;
}
.chatWindow .chatHistory .messageHistory #messageContainer .timeAndNoty .time {
  color: var(--main-secondary-dark5);
  margin: 0;
  font-size: 0.65vw;
}
.chatWindow .chatHistory .messageHistory #messageContainer .timeAndNoty .noty {
  background: #eb5757;
  border-radius: 1vw;
  min-width: 0.75vw;
  min-height: 0.75vw;
  display: flex;
  justify-content: center;
  align-items: center;
}
.chatWindow
  .chatHistory
  .messageHistory
  #messageContainer
  .timeAndNoty
  .noty
  p {
  color: #FCFCFC;
  font-size: 0.5vw;
  padding: 0.05vw 0.3vw 0 0.25vw;
}
/* ?============= CHAT WINDOW FRIENDS PANEL ================= */
.chatWindow .chatSidePanel {
  min-width: 16vw;
  /* border-left: 1px solid var(--main-bg-lightest); */
  background: var(--main-bg-dark);
  height: 100%;
  /* flex-grow: .75; */
  z-index: 1;
  box-shadow: 0.5vw 0.85vw 0.75vw var(--main-bg-dark);
}
.chatWindow .chatSidePanel .friendsPanel .header {
  height: 2vw;
  padding: 0.5vw 0.5vw;
  background: var(--main-bg-light);
}
.chatWindow .chatSidePanel .friendsPanel .header h4 {
  color: var(--main-secondary);
  font-size: 1vw;
}
.chatWindow .chatSidePanel .friendsPanel .filterTypes,
.chatWindow .chatHistory .filterTypes {
  display: flex;
}
.chatWindow .chatSidePanel .filter,
.chatWindow .chatHistory .filterTypes .filter {
  margin: 0.05vw;
  background: var(--main-bg-light);
  width: 100%;
  height: 2vw;
  /* border-bottom: 1px solid var(--main-bg-lightest); */
}
.chatWindow .chatSidePanel .filter .OnlineDot {
  margin-right: 0.25vw;
  width: 0.5vw;
  height: 0.5vw;
  border-radius: 50%;
  border: 1px solid var(--main-bg-dark);
  background: #77d570;
}
.chatWindow .chatSidePanel .friendsPanel .filterTypes .filter,
.chatWindow .chatHistory .filterTypes .filter {
  display: flex;
  color: var(--main-secondary-dark3);
  justify-content: center;
  align-items: center;
}
.chatWindow .chatSidePanel .filter h4,
.chatWindow .chatHistory .filterTypes .filter h4 {
  color: var(--main-secondary);
  font-size: 0.75vw;
}
.chatWindow .chatSidePanel > .friendsPanel .filterTypes > .active,
.chatWindow .chatHistory .filterTypes > .active {
  color: var(--main-secondary-dark1);
  background: var(--main-bg-lighter);
}
.chatWindow .chatSidePanel > .friendsPanel .filterTypes .filter:hover,
.chatWindow .chatHistory .filterTypes .filter:hover {
  color: var(--main-secondary-dark1);
  background: var(--main-bg-lighter);
  cursor: pointer;
}
.chatWindow .chatSidePanel .friendsList {
  height: 100vh;
  overflow: auto;
}
.chatWindow .chatSidePanel .friendsList .friend {
  display: flex;
  height: 1.75vw;
  border-radius: 0.25vw;
  margin: 0.25vw;
  align-items: center;
  justify-content: space-between;
}
.chatWindow .chatSidePanel .friendsList .friend:hover {
  background: var(--main-bg-lighter);
}
.chatWindow .chatSidePanel .friendsList .friend:hover h4 {
  color: var(--main-secondary);
}
.chatWindow .chatSidePanel .user {
  position: relative;
  display: flex;
  align-items: center;
}
.chatWindow .chatSidePanel .user h4 {
  color: var(--main-secondary-dark5);
  font-size: 0.75vw;
  margin: 0;
}
.chatWindow .chatSidePanel .user .avatar {
  margin: 0 0.5vw;
  width: 1.5vw;
  height: 1.5vw;
  border-radius: 50%;
}
.chatWindow .chatSidePanel .user .online {
  position: absolute;
  top: 1vw;
  left: 1.5vw;
  border-radius: 50%;
  width: 0.5vw;
  height: 0.5vw;
  background: #77d570;
  border: 0.1vw solid var(--main-bg-dark);
}
.chatWindow .chatSidePanel .icons {
  display: flex;
}
.chatWindow .chatSidePanel .icons > .icon {
  font-size: 0.8vw;
  border-radius: 50%;
  margin-right: 0.25vw;
  padding: 0.2vw;
  background: var(--main-bg-light);
}
.chatWindow .chatSidePanel .icons > .comments {
  color: var(--main-secondary);
}
.chatWindow .chatSidePanel .icons > .trash {
  color: #eb5757;
}
.chatWindow .chatSidePanel .icons .icon:hover {
  background: var(--main-bg-lightest);
}

/* ?====================SCROLL BAR==================== */
.friendsList::-webkit-scrollbar,
.displayMessages::-webkit-scrollbar,
.messageHistory::-webkit-scrollbar {
  width: 0.3vw;
  height: 2vw;
}
.friendsList::-webkit-scrollbar-thumb,
.displayMessages::-webkit-scrollbar-thumb,
.messageHistory::-webkit-scrollbar-thumb {
  background: var(--main-bg-lightest);
  border-radius: 1vw;
}
.friendsList::-webkit-scrollbar-thumb:hover,
.displayMessages::-webkit-scrollbar-thumb:hover,
.messageHistory::-webkit-scrollbar-thumb:hover {
  background: var(--accent);
}
/* ?========================MODAL======================= */
.ui.modal {
  background: var(--main-bg);
  padding: 2vw;
  width: 40%;
  height: 60%;
  top: 15%;
  left: 30%;
}

/* ?========================TABLE======================= */
