* {
  transition: background-color 0.3s ease, color 0.1s ease; /* *helps out with smoother transition between the theme changes* */
  /* color: rgb(107, 114, 128); */
}

html,
body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  display: flex;
}

.dark {
  /*? Primary colors */
  --primary-dark: rgb(229, 151, 29); /* *(-15, -18, -22) */
  --primary-medium: rgb(244, 169, 51); /* *base */
  --primary-light: rgb(253, 194, 102); /* *(+9, +25, +51) */

  /*? Main colors */
  --main-bg-darkest: rgb(20, 20, 20); /* *(-17,-18,-23) */
  --main-bg-darker: rgb(27, 28, 29); /* *(-10,-10,-14) */
  --main-bg-dark: rgb(37, 37, 41); /* *(0, -1, -2) */
  --main-bg: rgb(37, 38, 43); /* *base */
  --main-bg-light: rgb(45, 46, 52); /* *(+8, +8, +9) */
  --main-bg-lighter: rgb(51, 52, 60); /* *(+14, +14, +17) */
  --main-bg-lightest: rgb(67, 70, 79); /* *(+30, +32, +36) */

  /*? Text colors */
  --main-text: rgb(252, 252, 252); /* *(+99, +99, +99) */
  --main-text-dark1: rgb(227, 227, 227); /* *(+74, +74, +74) */
  --main-text-dark2: rgb(170, 169, 169); /* *(+17, +16, +16) */
  --main-text-dark3: rgb(166, 166, 168); /* *(+13, +13, +15) */
  --main-text-dark4: rgb(153, 153, 153); /* *base */
}

.light {
  --main-bg-darkest: rgb(192, 185, 178);
  --main-bg-darker: rgb(199, 192, 181);
  --main-bg-dark: rgb(209, 201, 193);
  --main-bg: rgb(209, 202, 195);
  --main-bg-light: rgb(217, 210, 203);
  --main-bg-lighter: rgb(223, 216, 212);
  --main-bg-lightest: rgb(239, 234, 231);
  --main-text: rgb(143, 132, 138);
  --main-text-dark1: rgb(118, 107, 113);
  --main-text-dark2: rgb(61, 49, 55);
  --main-text-dark3: rgb(57, 46, 52);
  --main-text-dark4: rgb(44, 33, 39);
  --primary-dark: rgb(58, 125, 131);
  --primary-medium: rgb(73, 143, 153);
  --primary-light: rgb(82, 168, 204);
}

.custom {
  --primary-dark: rgb(215, 91, 63);
  --primary-medium: rgb(230, 109, 85);
  --primary-light: rgb(239, 134, 136);
  --main-text: rgb(256, 175, 106);
  --main-text-dark1: rgb(231, 150, 81);
  --main-text-dark2: rgb(174, 92, 23);
  --main-text-dark3: rgb(170, 89, 20);
  --main-text-dark4: rgb(157, 76, 7);
  --main-bg-darkest: rgb(20, 11, 3);
  --main-bg-darker: rgb(27, 18, 6);
  --main-bg-dark: rgb(37, 27, 18);
  --main-bg: rgb(37, 28, 20);
  --main-bg-light: rgb(45, 36, 28);
  --main-bg-lighter: rgb(51, 42, 37);
  --main-bg-lightest: rgb(67, 60, 56);
}

/* ?================SIDE PANEL============== */
#sidePanel {
  width: 20vw;
  height: 100%; 
  overflow: auto;
  min-width: 275px;
  background: rgb(247, 247, 247);
  z-index: 1;
  float: right;
  box-shadow: 2px 4px 5px black;
}

/* ?=============== COLORS TEMPLATES =============== */
#colorTemplates,
#colors {
  padding: 10px;
}
#defaultTheme {
  display: flex;
  height: 50px;
  align-items: center;
  justify-content: space-between;
  border: 1px solid darkgrey;
  border-radius: 7px;
  margin: 8px 0;
}
#defaultTheme:hover {
  border: 2px solid rgb(36, 65, 128);
  cursor: pointer;
}
#defaultTheme.active {
  border: 2px solid black;
}
#defaultTheme h4 {
  padding-left: 10px;
  margin: 0;
}
#defaultTheme #circles {
  display: flex;
  padding-right: 10px;
}
#defaultTheme #circles > div {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  margin-right: 2px;
  border: 1px solid black;
}
#defaultTheme #circles > .one {
  background: var(--primary-light);
}
#defaultTheme #circles > .two {
  background: var(--primary-dark);
}
#defaultTheme #circles > .three {
  background: var(--main-bg-darkest);
}
#defaultTheme #circles > .four {
  background: var(--main-bg-lightest);
}
#defaultTheme #circles > .five {
  background: var(--main-text-dark4);
}

/* ?============ COLORS =========== */
#pickerContainer {
  display: flex;
  height: 30px;
  justify-content: space-between;
  align-items: center;
  padding: 0 5px;
}

.pickr .pcr-button:after {
  border: 2px solid black;
}
#primary #pickerContainer .pickr .pcr-button:after {
  background: var(--primary-medium);
}
#text #pickerContainer .pickr .pcr-button:after {
  background: var(--main-text-dark4);
}
#background #pickerContainer .pickr .pcr-button:after {
  background: var(--main-bg);
}

/* ?============= MAIN WINDOW ================= */
#mainWindow {
  width: 80%;
  height: 100%;
  overflow: hidden;
  background: var(--main-bg-light);
}

/* ?============= MAIN NAVBAR ================= */
.mainNavbar {
  width: 100%;
  height: 44px;
  background: var(--main-bg-light);
  display: flex;
  justify-content: space-between;
}
.mainNavbar .mainServer img,
.mainNavbar .mainIcons img {
  height: 40px;
  padding: 1px;
}
.mainNavbar .mainServer .content {
  margin: 0 8px;
  font-size: 15px;
  font-weight: 700;
  color: var(--main-text);
}
/* .mainNavbar .mainServer .content i,
.mainNavbar .mainServer .content div {
  font-size: 14px;
  font-weight: 400;
  color: var(--main-text);
} */
.mainNavbar .mainIcons,
.mainNavbar .mainServer {
  padding: 0 15px;
  display: flex;
  align-items: center;
}
.mainNavbar .mainIcons svg {
  margin: 0 15px;
}
.mainNavbar .mainIcons path {
  fill: var(--main-text-dark2)
}
.mainNavbar .mainIcons .active path {
  fill: var(--primary-medium);
}
.mainNavbar .mainIcons > div:hover path {
  fill: var(--primary-medium);
  cursor: pointer;
}

/* ?============= SERVER NAVBAR ================= */
.serverNavbar {
  height: 34px;
  width: 100%;
  display: flex;
  align-items: center;
  background: var(--main-bg);
  box-shadow: 1px 1px 3px 2px var(--main-bg-darker);
}
.serverNavbar .servers {
  height: 100%;
  width: 170px;
  display: flex;
  border-right: 1px solid var(--main-bg-lightest);
  justify-content: center;
  align-items: center;
}
.serverNavbar .servers.explore {
  width: 40px;
}
.serverNavbar .servers.explore path {
  fill: var(--main-text-dark2);
}
.serverNavbar .servers.active {
  background: var(--main-bg-light);
}
.serverNavbar .servers.active .icon {
  position: relative;
  left: 22%;
  color: var(--main-text-dark2);
}
.serverNavbar .servers h4 {
  font-size: 14px;
  font-weight: 700;
  color: var(--main-text-dark2);
}
.serverNavbar .mini {
  height: 34px;
  padding: 7px;
}
.serverNavbar .mini .plus {
  color: var(--main-text-dark2);
}
.serverNavbar .exploreServers:hover,
.serverNavbar .servers:hover,
.serverNavbar .mini:hover {
  cursor: pointer;
  background-color: var(--main-bg-lightest);
}

/* ?============= CHAT WINDOW ================= */
.chatWindow {
  display: flex;
  border-top: 1px solid var(--main-bg-darker);
  height: 100%;
}
.chatWindow .chat {
  background: var(--main-bg-light);
  flex-grow: 6;
  position: relative;
}
.chatWindow .chat .displayMessages {
  padding: 0 0 0 14px;
}
.chatWindow .chat .inputMessageField {
  position: absolute;
  height: 150px;
  bottom: 0;
  width: 100%;
}
.emoji-wysiwyg-editor:focus {
  outline: 0;
}
[contentEditable="true"]:empty:not(:focus):before {
  content: attr(data-text);
  color: var(--main-text-dark4);
}
.emoji-wysiwyg-editor {
  background-color: var(--main-bg);
  color: var(--main-text);
  margin-bottom: 0;
  padding: 7px;
  font-size: 14px;
  border: none !important;
  margin-top: 2px;
}
.chatWindow .chat .ui.icon.inverted.button {
  padding: 6px;
}
.chatWindow .chat .ui.right.floated.inverted.segment {
  margin: 0;
  padding: 4px;
  background: inherit;
}
.chatWindow .chat .ui.right.floated.inverted.segment .icon {
  color: var(--main-text-dark2);
  margin: 0px;
  font-size: 14px;
}
.chatWindow .chat .ui.right.floated.inverted.segment .icon:hover {
  color: var(--primary-medium);
  background: none;
}
.ui.inverted.button {
  box-shadow: none !important;
  -webkit-box-shadow: none !important;
}
.ui.inverted.button:hover {
  box-shadow: none !important;
  -webkit-box-shadow: none !important;
}
/*! =====divider=====  */
.date-tooltip {
  font-size: 12px;
  display: flex;
  justify-content: center;
}
.date-tooltip .day-node {
  color: var(--main-text-dark2) !important;
  border: 1px solid var(--main-bg-lightest);
  background: var(--main-bg-light);
  border-radius: 5px;
  padding: 0px 16px;
  font-size: 11px;
  text-transform: uppercase;
}
.day-separator:before {
  content: "";
  border-top: 1px solid var(--main-bg-lightest);
  display: inline-block;
  width: calc(100% - 15px);
  margin-bottom: -14.5px;
}
.chat .messagesFrom {
  background: var(--main-bg-lightest);
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.chat .messagesFrom .avatarName {
  display: flex;
  height: 60px;
  align-items: center;
}
.chat .messagesFrom .avatarName .avatar {
  width: 44px;
  margin-left: 14px; 
}
.chat .messagesFrom .avatarName .online {
  width: 12px;
  height: 12px;
  background: #77D570;
  position: absolute;
  top: 41px;
  left: 44px;
  border-radius: 50%;
  border: 2px solid var(--main-bg-dark)

}
.chat .messagesFrom .avatarName .name {
  margin-left: 20px;
}
.chat .messagesFrom .avatarName h4 {
  color: var(--main-text-dark1);
  margin: 0;
}
.chat .messagesFrom .avatarName p {
  color: var(--main-text);
  font-size: 12px;
  font-weight: 400;
}
.chat .messagesFrom i {
  color: var(--main-text);
  margin-right: 25px;
}
/* ?============= CHAT WINDOW FRIENDS LIST ================= */
.chatWindow .chatHistory {
  min-width: 200px;
  background: var(--main-bg);
  flex-grow: .75;
}
.chatWindow .chatHistory .ui.icon {
  width: 100%;
}
.chatWindow .chatHistory .ui.icon i {
  color: var(--main-text); 
}
.chatWindow .chatHistory .ui.icon input {
  background: var(--main-bg-light);
  border: none!important;
  box-shadow: none!important;
  padding: 11px 30px 11px 15px;
  cursor: text;
  color: var(--main-text);
  outline: 0;
  border-radius: 0;
}
.chatWindow .chatHistory .ui.icon input::placeholder {
  color: var(--main-text-dark4);
}
 
/* ?============= CHAT WINDOW FRIENDS PANEL ================= */
.chatWindow .chatSidePanel {
  min-width: 270px;
  /* border-left: 1px solid var(--main-bg-lightest); */
  background: var(--main-bg-dark);
  height: 100%;
  flex-grow: .75;
}
.chatWindow .chatSidePanel .friendsPanel .header {
  height: 39px;
  padding: 11px 19px;
  background: var(--main-bg);
}
.chatWindow .chatSidePanel .friendsPanel .header h4 {
  color: var(--main-text);
}
.chatWindow .chatSidePanel .friendsPanel .filterTypes,
.chatWindow .chatHistory .filterTypes {
  display: flex;
}
.chatWindow .chatSidePanel .filter,
.chatWindow .chatHistory .filterTypes .filter {
  margin:1px;
  background: var(--main-bg-light);
  width: 100%;
  height: 34px;
  /* border-bottom: 1px solid var(--main-bg-lightest); */
}
.chatWindow .chatSidePanel .filter .OnlineDot {
  margin-right: 5px;
  width: 9px;
  height: 9px;
  border-radius: 50%;
  border: 1px solid var(--main-bg-dark);
  background: #77D570;
}
.chatWindow .chatSidePanel .friendsPanel .filterTypes .filter, 
.chatWindow .chatHistory .filterTypes .filter {
  display: flex;
  color: var(--main-text-dark2);
  justify-content: center;
  align-items: center;
}
.chatWindow .chatSidePanel .filter h4,
.chatWindow .chatHistory .filterTypes .filter h4 {
  color: var(--main-text);
  font-size: 14px;
  font-weight: 500;
}
.chatWindow .chatSidePanel > .friendsPanel .filterTypes > .active, 
.chatWindow .chatHistory .filterTypes > .active {
  color: var(--main-text-dark1);
  background: var(--main-bg-lightest);
}
.chatWindow .chatSidePanel > .friendsPanel .filterTypes .filter:hover,
.chatWindow .chatHistory .filterTypes .filter:hover {
  color: var(--main-text-dark1);
  background: var(--main-bg-lightest);
  cursor: pointer;
}
.chatWindow .chatSidePanel .friendsList {
  height: 100vh;

  overflow: auto;
}
.chatWindow .chatSidePanel .friendsList .friend {
  display: flex;
  height: 38px;
  border-radius: 4px;
  margin: 5px;
  align-items: center;
  justify-content: space-between;
}
.chatWindow .chatSidePanel .friendsList .friend:hover {
  background: var(--main-bg-light);
}
.chatWindow .chatSidePanel .user {
  position: relative;
  display: flex;  
  align-items: center;
}
.chatWindow .chatSidePanel .user h4 {
  color: var(--main-text);
  font-size: 14px;
  font-weight: 500;
  margin: 0;
}
.chatWindow .chatSidePanel .user .avatar {
  margin: 0 11px;
  width: 28px;
  height: 28px;
  border-radius: 50%;
}
.chatWindow .chatSidePanel .user .online {
  position: absolute;
  top: 18px;
  left: 29px;
  border-radius: 50%;
  width: 11px;
  height: 11px;
  background: #77D570; 
  border: 2px solid var(--main-bg-dark);
}
.chatWindow .chatSidePanel .icons {
  display: flex;
}
.chatWindow .chatSidePanel .icons > .icon {
  position: relative;
  margin-right: 11px;
  height: 28px;
  width: 28px;  
  border-radius: 50%;
  background: var(--main-bg-dark);
}
.chatWindow .chatSidePanel .icons > .icon > i {
  font-size: 16px;
  font-weight: 300;
  position: absolute;
  top: 2.5px;
  left: 4.5px;
}
.chatWindow .chatSidePanel .icons > .message {
  color: var(--main-text);
}
.chatWindow .chatSidePanel .icons > .trash {
  color: #EB5757;
}
.chatWindow .chatSidePanel .icons > .icon:hover {
  background: var(--main-bg-lightest);
}

/* ?====================SCROLL BAR==================== */
.friendsList::-webkit-scrollbar {
  width: 7px;
  height: 20px;
}
/* .friendsList::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey; 
  border-radius: 10px;
} */
.friendsList::-webkit-scrollbar-thumb {
  background: var(--main-bg-lightest); 
  border-radius: 10px;
}
.friendsList::-webkit-scrollbar-thumb:hover {
    background: var(--primary-medium); 
}


/* !=======COLORIS======== */
/* #colors #pickerContainer .background {
  width: 20px;
  height: 20px;
} */

#colors #primary .clr-field {
  color: var(--primary-medium);
}
#colors #text .clr-field {
  color: var(--main-text-dark4); 
}
#colors #background .clr-field {
  color: var(--main-bg);
}

#colors .clr-field button {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

#colors input {
  width: 30px;
  height: 32px;
  padding: 0 10px;
  border: 3px solid black;
  border-radius: 50%;
}

#colors button {
  border: 3px solid black;
}
div#clr-picker {
  right: 2px; 
  top: 332px;
}