.dark {
  /*? Primary colors */
  --primary-dark: rgb(229, 151, 29); /* *(-15, -18, -22) */
  --primary-medium: rgb(244, 169, 51); /* *base */
  --primary-light: rgb(253, 194, 102); /* *(+9, +25, +51) */

  /*? Main colors */
  --main-bg-darkest: rgb(20, 20, 20); /* *(-17,-18,-23) */
  --main-bg-darker: rgb(27, 28, 29); /* *(-10,-10,-14) */
  --main-bg-dark: rgb(37, 37, 41); /* *(0, -1, -2) */
  --main-bg: rgb(37, 38, 43); /* *base */
  --main-bg-light: rgb(45, 46, 52); /* *(+8, +8, +9) */
  --main-bg-lighter: rgb(51, 52, 60); /* *(+14, +14, +17) */
  --main-bg-lightest: rgb(67, 70, 79); /* *(+30, +32, +36) */

  /*? Text colors */
  --main-text: rgb(252, 252, 252); /* *(+99, +99, +99) */
  --main-text-dark1: rgb(227, 227, 227); /* *(+74, +74, +74) */
  --main-text-dark2: rgb(170, 169, 169); /* *(+17, +16, +16) */
  --main-text-dark3: rgb(166, 166, 168); /* *(+13, +13, +15) */
  --main-text-dark4: rgb(153, 153, 153); /* *base */
}

* {
  transition: background-color 0.2s ease, color 0.1s ease; /* *helps out with smoother transition between the theme changes* */
}

.light {
  --main-bg-darkest: rgb(192, 185, 178);
  --main-bg-darker: rgb(199, 192, 181);
  --main-bg-dark: rgb(209, 201, 193);
  --main-bg: rgb(209, 202, 195);
  --main-bg-light: rgb(217, 210, 203);
  --main-bg-lighter: rgb(223, 216, 212);
  --main-bg-lightest: rgb(239, 234, 231);
  --main-text: rgb(143, 132, 138);
  --main-text-dark1: rgb(118, 107, 113);
  --main-text-dark2: rgb(61, 49, 55);
  --main-text-dark3: rgb(57, 46, 52);
  --primary-dark: rgb(58, 125, 131);
  --primary-medium: rgb(73, 143, 153);
  --primary-light: rgb(82, 168, 204);
}

.custom {
  --primary-dark: rgb(215, 91, 63);
  --primary-medium: rgb(230, 109, 85);
  --primary-light: rgb(239, 134, 136);
  --main-text: rgb(256, 175, 106);
  --main-text-dark1: rgb(231, 150, 81);
  --main-text-dark2: rgb(174, 92, 23);
  --main-text-dark3: rgb(170, 89, 20);
  --main-bg-darkest: rgb(20, 11, 3);
  --main-bg-darker: rgb(27, 18, 6);
  --main-bg-dark: rgb(37, 27, 18);
  --main-bg: rgb(37, 28, 20);
  --main-bg-light: rgb(45, 36, 28);
  --main-bg-lighter: rgb(51, 42, 37);
  --main-bg-lightest: rgb(67, 60, 56);
}

body,
html {
  color: var(--main-text) !important;
  background-color: var(--main-bg-light) !important;
}

h1,
h3 {
  text-align: center;
  margin: 10px !important;
}

#picker button {
  text-align: center;
  flex-grow: 1;
  border-radius: 10px;
  margin: 10px;
  border: 2px solid var(--primary-dark);
  background: var(--primary-medium);
  box-shadow: 1px 1px 1px var(--primary-light);
}

#picker button:hover {
  background: var(--primary-light);
}

#picker > #themeSelector div {
  display: flex;
  justify-self: space-around;
}

#main {
  display: flex;
  height: 100%;
  justify-content: space-around;
  align-items: center;
}

#main #modal,
#main #picker {
  width: 396px;
  height: 500px;
  border: 2px solid var(--main-bg-light);
  border-radius: 10px;
  background-color: var(--main-bg-lighter);
  box-shadow: 10px 10px 10px var(--main-bg);
}

#color {
  margin-left: 10%;
  width: 50%;
}

/* SAMPLE CARD */
.container {
  padding: 15px;
}

input {
  background: var(--main-bg-lightest) !important;
  border-radius: 3px;
  padding: 5px;
  width: 350px;
  color: var(--main-text) !important;
  -webkit-border-radius: 3px;
}

input:focus {
  border: 1px solid var(--primary-dark) !important;
  box-shadow: none !important;
  outline: none !important;
}

.containerButtons {
  border-radius: 8px;
  margin: 10px 0px;
  display: flex;
  justify-content: space-around;
}

.containerButtons .button {
  color: var(--main-text);
  border: 1px solid var(--main-bg) !important;
  background: var(--main-bg-lighter);
}

.containerButtons .button:not(.active):hover {
  color: var(--main-text-dark3);
  border: 1px solid var(--main-bg-light) !important;
  background: var(--main-bg-light);
}

.containerButtons .active {
  color: var(--primary-dark) !important;
  border: 1px solid var(--primary-medium) !important;
  background: var(--main-bg-light) !important;
}

.containerButtons .active:hover {
  color: var(--primary-medium) !important;
  border: 1px solid var(--primary-light) !important;
  background: var(--main-bg-light) !important;
}

.colourPicker {
  margin: 20px;
}

#sidePanel {
  position: absolute;
  width: 200px;
  height: 100%;
  background-color: var(--main-bg-dark);
}

#topPanel {
  position: absolute;
  background-color: var(--main-bg-dark);
  width: 100%;
  height: 50px;
}
